Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Hughes_Content/Mesh/Floor/Base_Water.uasset
Content/Hughes_Content/Mesh/Floor/Base_10.uasset
Content/Hughes_Content/Mesh/Floor/Base_09.uasset
Content/Hughes_Content/Mesh/Floor/Base_07.uasset
Content/Hughes_Content/Mesh/Floor/Base_06.uasset
Content/Hughes_Content/Mesh/Floor/Base_05.uasset
Content/Hughes_Content/Mesh/Floor/Base_04.uasset
Content/Hughes_Content/Mesh/Floor/Base_03.uasset
Content/Hughes_Content/Mesh/Floor/Base_02.uasset
Content/Hughes_Content/Mesh/Floor/Base_01.uasset
Content/Hughes_Content/Mesh/Floor/Base.uasset
Content/Hughes_Content/Mesh/Base.uasset
